@{
    ViewData["Title"] = "blog";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<main class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-content">
    <!--Slider-->
    <section class="container main-slider">
        <div class="col-md-6 col-xs-12 slider-right" style="padding-left: 7.5px;padding-right: 0;">
            <!--Slide-->
            <div>
                <a href="">
                    <img src="~/Customer/assets/images/omdedaran.jpg" alt="">
                </a>
            </div>
            <!--End Slide-->
            <!--Slide-->
            <div>
                <a href="">
                    <img src="~/Customer/assets/images/omdedaran.jpg" alt="">
                </a>
            </div>
            <!--End Slide-->
            <!--Slide-->
            <div>
                <a href="">
                    <img src="~/Customer/assets/images/omdedaran.jpg" alt="">
                </a>
            </div>
            <!--End Slide-->
        </div>
        <div class="col-md-6 col-xs-12 hs-r-p res-padding blog-no-padding blog-sm-no-padding" style="padding-left: 0;padding-right: 7.5px;">
            <div class="col-md-6 col-sm-6 col-xs-12 hs-r-p" style="margin-bottom: 30px;padding-left: 0;padding-right: 0;">
                <div class="col-xs-12" style="padding-right: 0;padding-left: 0;">
                    <a href="">
                        <img src="~/Customer/assets/images/blogtop.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 hs-r-p blog-content-no-padding" style="margin-bottom: 30px;padding-left: 0;padding-right: 0;">
                <div class="col-xs-12" style="padding-right: 0;padding-left: 15px;">
                    <a href="">
                        <img src="~/Customer/assets/images/omdedaran.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-12" style="padding-right: 0;padding-left: 15px;margin-top: 15px;">
                    <a href="">
                        <img src="~/Customer/assets/images/omdedaran.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--End Slider-->
    <section class="container blog-section">
        <section class="col-sm-3 hidden-sm pr-0 res-right-blog">
            <!--Blog Right Section-->
            <div class="col-md-12 col-sm-12 col-xs-12 section-white no-padding blog-right">
                <h5>
                    آخرین خبرها
                </h5>
                <div class="col-xs-12 no-padding">
                    <ul>
                        <!--News-->
                        <a href="">
                            <li class="blog-right-item">
                                <div class="col-sm-2 col-xs-2 blog-right-item-img">
                                    <img src="~/Customer/assets/images/blogright.jpg" alt="">
                                </div>
                                <div class="col-sm-10 col-xs-10 blog-right-item-content">
                                    <h5>
                                        عنوان مقاله
                                    </h5>
                                    <span>
                                        دسته بندی
                                        <small>
                                            تاریخ انتشار:
                                            1399/03/03
                                        </small>
                                    </span>
                                </div>
                            </li>
                        </a>
                        <!--End News-->
                    </ul>
                </div>
            </div>
            <!--End Blog Right Section-->
        </section>
        <section class="col-sm-7 section-margin-bottom res-main-blog-content">
            <div class="col-xs-12 section-white blog-main-content no-padding">
                <h5>
                    مطالب جدید
                </h5>
                <ul class="col-xs-12 no-padding">
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                    <!--Blog Item-->
                    <a href="">
                        <li class="col-xs-12 blog-item">
                            <div class="col-sm-3 col-xs-12 blog-item-img">
                                <img src="~/Customer/assets/images/hostpital.jpg" alt="">
                            </div>
                            <div class="col-sm-9 col-xs-12 blog-item-content">
                                <h5>
                                    عنوان مقاله
                                </h5>
                                <span>
                                    دسته بندی
                                    <small>
                                        تاریخ انتشار:
                                        1399/03/03
                                    </small>
                                </span>
                                <p class="blog-item-text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                </p>
                            </div>
                        </li>
                    </a>
                    <!--End Blog Item-->
                </ul>
                <div class="col-xs-12">
                    <ul class="col-xs-12 custom-pagination">
                        <li class="custom-pagination-deactive"><i class="fal fa-chevron-double-right"></i></li>
                        <li class="custom-pagination-active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li><i class="fal fa-chevron-double-left"></i></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col-sm-2 no-padding hidden-sm">
            <div class="col-xs-12 blog-left">
                <!--Blog Suggestion-->
                <div class="col-xs-12 no-padding blog-suggestion">
                    <a href="">
                        <img src="~/Customer/assets/images/blogtop.jpg" alt="">
                    </a>
                </div>
                <!--End Blog Suggestion-->
                <!--Blog Suggestion-->
                <div class="col-xs-12 no-padding blog-suggestion">
                    <a href="">
                        <img src="~/Customer/assets/images/blogtop.jpg" alt="">
                    </a>
                </div>
                <!--End Blog Suggestion-->
                <!--Left Article-->
                <a href="">
                    <div class="col-xs-12 section-white blog-left-article hidden-xs">
                        <img src="~/Customer/assets/images/blogleft.jpg" alt="">
                        <h4>
                            عنوان
                        </h4>
                    </div>
                </a>
                <!--End Left Article-->
                <!--Left Article-->
                <a href="">
                    <div class="col-xs-12 section-white blog-left-article hidden-xs">
                        <img src="~/Customer/assets/images/blogleft.jpg" alt="">
                        <h4>
                            عنوان
                        </h4>
                    </div>
                </a>
                <!--End Left Article-->
                <!--Left Article-->
                <a href="">
                    <div class="col-xs-12 section-white blog-left-article hidden-xs">
                        <img src="~/Customer/assets/images/blogleft.jpg" alt="">
                        <h4>
                            عنوان
                        </h4>
                    </div>
                </a>
                <!--End Left Article-->
                <!--Left Article-->
                <a href="">
                    <div class="col-xs-12 section-white blog-left-article hidden-xs">
                        <img src="~/Customer/assets/images/blogleft.jpg" alt="">
                        <h4>
                            عنوان
                        </h4>
                    </div>
                </a>
                <!--End Left Article-->
                <!--Left Article-->
                <a href="">
                    <div class="col-xs-12 section-white blog-left-article hidden-xs">
                        <img src="~/Customer/assets/images/blogleft.jpg" alt="">
                        <h4>
                            عنوان
                        </h4>
                    </div>
                </a>
                <!--End Left Article-->
                <!--Left Article-->
                <a href="">
                    <div class="col-xs-12 section-white blog-left-article hidden-xs">
                        <img src="~/Customer/assets/images/blogleft.jpg" alt="">
                        <h4>
                            عنوان
                        </h4>
                    </div>
                </a>
                <!--End Left Article-->
            </div>
        </section>
    </section>
    <!--Section-->
    <!--End Section-->
</main>