@{
    ViewData["Title"] = "company";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<main class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--Section-->
    <section class="container section-shadow section-white section-border section-padding-bottom section-margin-bottom section-margin-top single-main-section">
        <div class="col-md-4 col-xs-12 single-right-main-gallery">
            <div class="col-xs-12 single-right-main-pic no-padding">
                <!--Main Pic-->
                <img class="img-bordered" src="~/Customer/assets/images/product%20pic%20main.png" alt="">
                <!--End Main Pic-->
            </div>
        </div>
        <div class="col-md-8 col-xs-12 single-main-content">
            <h1 class="col-xs-12 desc-after">
                شرکت دمنده
            </h1>
            <div class="col-md-6 col-sm-6 col-xs-12 single-main-detail">
                <p>
                    <b>حوزه فعالیت:</b>
                    جنرال موتور
                </p>
                <p>
                    <b>خدمات و دسته بندی محصولات:</b>
                    <ul class="custom-ul-style ul-margin-right">
                        <li>خوب</li>
                        <li>عالی</li>
                        <li>بهترین</li>
                        <li>ریاضیات تحلیلی</li>
                        <li>نمیدونم</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 company-detail">
                <div class="company-detail-div col-xs-12">
                    <div class="company-detail-div-inner col-xs-12">
                        <h1>
                            اطلاعات تماس
                        </h1>
                        <p>
                            <b>شماره تماس ها:</b>
                            <ul class="ul-margin-right">
                                <li>
                                    عنوان:
                                    09121231212
                                </li>
                                <li>
                                    عنوان:
                                    09121231212
                                </li>
                                <li>
                                    عنوان:
                                    09121231212
                                </li>
                                <li>
                                    عنوان:
                                    09121231212
                                </li>
                                <li>
                                    عنوان:
                                    09121231212
                                </li>
                            </ul>
                        </p>
                        <p>
                            <b>ایمیل:</b>
                            <ul class="ul-margin-right">
                                <li>
                                    info@amirarab.me
                                </li>
                            </ul>
                        </p>
                        <p>
                            <b>شبکه های مجازی:</b>
                            <ul class="ul-margin-bottom social-media-ul-company">
                                <li class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-telegram fa-2x"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-instagram fa-2x"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-linkedin-square fa-2x"></i>
                                    </a>
                                </li>
                                <li class="col-xs-3">
                                    <a href="">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 about-company">
            <p>
                <h4>
                    <b>درباره شرکت:</b>
                </h4>
            </p>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
            </p>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
            </p>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
            </p>
        </div>
    </section>
    <!--End Section-->
    <!--Section-->
    <section class="container section-margin-top section-margin-bottom">
        <!--Right Column-->
        <section class="col-md-4 company-list-right">
            <div class="col-xs-12 mb-0">
                <!-- Filters -->
                <div class="col-md-12 col-sm-4 col-xs-12 section-white section-border">
                    <h1 class="col-xs-12 no-padding">
                        فیلتر های اعمال شده
                        <span class="remove-filters">حذف فیلترها</span>
                    </h1>
                    <div class="cu-filters col-xs-12 no-padding">
                        <span>
                            برند: سامسونگ
                            <i class="fal fa-times"></i>
                        </span>
                    </div>
                </div>
                <!--End Filtera-->
                <!--Search-->
                <div class="col-md-12 col-sm-4 col-xs-12 section-white section-border">
                    <h1 class="col-xs-12 no-padding">
                        جستجو در شرکت ها
                        <span class="toggle-side-arrow"><i class="fa fa-chevron-up"></i></span>
                    </h1>
                    <div class="search-field col-xs-12 no-padding">
                        <form action="" method="post" autocomplete="off">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-left: 0;"><i class="fal fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="جستجو">
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Search-->
                <!--Brand-->
                <div class="col-md-12 col-sm-4 col-xs-12 section-white section-border">
                    <h1 class="col-xs-12 no-padding">
                        برند
                        <span class="toggle-side-arrow"><i class="fa fa-chevron-up"></i></span>
                    </h1>
                    <div class="search-field col-xs-12 no-padding">
                        <form action="" method="post" autocomplete="off">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-left: 0;"><i class="fal fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="جستجو">
                            </div>
                            <div class="checkbox-search custom-scroll">
                                <ul>
                                    <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="checkbox" class="company-list-checkbox" />
                                            <label for="checkbox"></label>
                                        </span>
                                        <span>
                                            جنرال موتور
                                        </span>
                                        <span class="brand-english-name">
                                            General Motor
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Brand-->
                <!--Switch-->
                <div class="col-md-12 col-sm-4 col-xs-12 section-white section-border">
                    <h1 class="col-xs-12 no-padding">
                        فلان
                        <span class="toggle-side-arrow"><i class="fa fa-chevron-up"></i></span>
                    </h1>
                    <div class="search-field col-xs-12 no-padding">
                        <form action="" method="post" autocomplete="off">
                            <div class="custom-overflow-sm">
                                <div class="custom-switch">
                                    <input type="checkbox" id="switch" />
                                    <label for="switch"></label>
                                    <span class="custom-switch-text">
                                        کالاهای موجود
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Switch-->
            </div>
        </section>
        <!--End Right Column-->
        <!--Left Column-->
        <section class="col-md-8 no-padding company-list-left">
            <div class="col-xs-12 list-sort-div">
                <img src="~/Customer/assets/images/sort.png" alt="">
                <span class="list-sort-div-title">مرتب سازی بر اساس</span>
                <div class="list-sort-div-item-div">
                    <span class="list-sort-div-item sort-active">پربازدید ترین ها</span>
                    <span class="list-sort-div-item">محبوب ترین ها</span>
                    <span class="list-sort-div-item">جدیدترین ها</span>
                </div>
            </div>
            <div class="col-xs-12 no-padding section-white">
                <ul class="col-xs-12 no-padding products-list">
                    <!--Product-->
                    <a href="">
                        <li class="col-sm-4 col-xs-12 product-list-item">
                            <div>
                                <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                <h5 class="product-list-title">
                                    کولر گازی جنرال موتور خیلی خیلی خفن
                                </h5>
                                <h6 class="product-list-rating">
                                    <span>(25)</span>
                                    4.5
                                    <i class="fa fa-star"></i>
                                </h6>
                                <hr>
                                <h6 class="product-list-company">
                                    <img src="~/Customer/assets/images/store.png" alt="">
                                    دما تجهیز
                                    <span class="product-list-company-rating">
                                        <span>(25)</span>
                                        4.5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </h6>
                            </div>
                            <div class="col-sm-10 col-xs-12">

                            </div>
                        </li>
                    </a>
                    <!--End Product-->
                    <!--Product-->
                    <a href="">
                        <li class="col-sm-4 col-xs-12">
                            <div class="product-list-item">
                                <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                <h5 class="product-list-title">
                                    کولر گازی جنرال موتور خیلی خیلی خفن
                                </h5>
                                <h6 class="product-list-rating">
                                    <span>(25)</span>
                                    4.5
                                    <i class="fa fa-star"></i>
                                </h6>
                                <hr>
                                <h6 class="product-list-company">
                                    <img src="~/Customer/assets/images/store.png" alt="">
                                    دما تجهیز
                                    <span class="product-list-company-rating">
                                        <span>(25)</span>
                                        4.5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </h6>
                            </div>
                            <div class="col-sm-10 col-xs-12">

                            </div>
                        </li>
                    </a>
                    <!--End Product-->
                    <!--Product-->
                    <a href="">
                        <li class="col-sm-4 col-xs-12">
                            <div class="product-list-item">
                                <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                <h5 class="product-list-title">
                                    کولر گازی جنرال موتور خیلی خیلی خفن
                                </h5>
                                <h6 class="product-list-rating">
                                    <span>(25)</span>
                                    4.5
                                    <i class="fa fa-star"></i>
                                </h6>
                                <hr>
                                <h6 class="product-list-company">
                                    <img src="~/Customer/assets/images/store.png" alt="">
                                    دما تجهیز
                                    <span class="product-list-company-rating">
                                        <span>(25)</span>
                                        4.5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </h6>
                            </div>
                            <div class="col-sm-10 col-xs-12">

                            </div>
                        </li>
                    </a>
                    <!--End Product-->
                    <!--Product-->
                    <a href="">
                        <li class="col-sm-4 col-xs-12">
                            <div class="product-list-item">
                                <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                <h5 class="product-list-title">
                                    کولر گازی جنرال موتور خیلی خیلی خفن
                                </h5>
                                <h6 class="product-list-rating">
                                    <span>(25)</span>
                                    4.5
                                    <i class="fa fa-star"></i>
                                </h6>
                                <hr>
                                <h6 class="product-list-company">
                                    <img src="~/Customer/assets/images/store.png" alt="">
                                    دما تجهیز
                                    <span class="product-list-company-rating">
                                        <span>(25)</span>
                                        4.5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </h6>
                            </div>
                            <div class="col-sm-10 col-xs-12">

                            </div>
                        </li>
                    </a>
                    <!--End Product-->
                    <!--Product-->
                    <a href="">
                        <li class="col-sm-4 col-xs-12">
                            <div class="product-list-item">
                                <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                <h5 class="product-list-title">
                                    کولر گازی جنرال موتور خیلی خیلی خفن
                                </h5>
                                <h6 class="product-list-rating">
                                    <span>(25)</span>
                                    4.5
                                    <i class="fa fa-star"></i>
                                </h6>
                                <hr>
                                <h6 class="product-list-company">
                                    <img src="~/Customer/assets/images/store.png" alt="">
                                    دما تجهیز
                                    <span class="product-list-company-rating">
                                        <span>(25)</span>
                                        4.5
                                        <i class="fa fa-star"></i>
                                    </span>
                                </h6>
                            </div>
                            <div class="col-sm-10 col-xs-12">

                            </div>
                        </li>
                    </a>
                    <!--End Product-->
                </ul>
                <div class="col-xs-12">
                    <ul class="col-xs-12 custom-pagination">
                        <li class="custom-pagination-deactive not-hover-pag"><i class="fal fa-chevron-double-right"></i></li>
                        <li class="custom-pagination-active not-hover-pag">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li><i class="fal fa-chevron-double-left"></i></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Left Column-->
    </section>
    <!--End Section-->
    <!--Section-->
    <section class="container section-white section-padding-bottom section-margin-bottom product-bottom-section">
        <!--Product Bottom Section-->
        <div class="col-xs-12 product-bottom-section-inner product-bottom-section-inner-active">
            <!--Section Title-->
            <div class="col-xs-12 no-padding company-title">
                <div class="section-title">
                    <h1>
                        نظرات کاربران
                        <button class="btn custom-btn-primary col-md-3 col-xs-6" data-toggle="modal" data-target="#comments-modal">ارسال نظر</button>
                    </h1>
                </div>
            </div>
            <!--End Section Title-->
            <!--Comment-->
            <div class="col-xs-12 comment-div">
                <div class="col-sm-2 col-xs-12">
                    <div class="comment-user">
                        امیرحسین عرب
                        <span>1399/9/9</span>
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    </p>
                    <div class="comment-rating comment-rated display-block">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <!--End Comment-->
        </div>
        <!--End Product Bottom Section-->
    </section>
    <!--End Section-->
</main>