@{
    ViewData["Title"] = "product";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<main class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--Section-->
    <section class="container section-shadow section-white section-border section-padding-bottom section-margin-bottom section-margin-top single-main-section">
        <div class="col-md-4 col-xs-12 single-right-main-gallery">
            <div class="col-xs-12 single-right-main-pic">
                <!--Product Pic Options-->
                <ul class="single-right-main-pic-options">
                    <li>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <i class="fal fa-share-alt"></i>
                    </li>
                    <li>
                        <i class="fal fa-balance-scale-right"></i>
                    </li>
                </ul>
                <!--End Product Pic Options-->
                <!--Main Pic-->
                <img src="~/Customer/assets/images/product%20pic%20main.png" alt="">
                <!--End Main Pic-->
            </div>
            <div class="col-xs-12 single-right-main-gallery-pics">
                <!--Gallery Pic-->
                <div>
                    <div class="single-right-main-gallery-active">
                        <img src="~/Customer/assets/images/product%20pic%20main.png" alt="">
                    </div>
                </div>
                <!--End Gallery Pic-->
                <!--Gallery Pic-->
                <div>
                    <div>
                        <img src="~/Customer/assets/images/product%20pic%201.png" alt="">
                    </div>
                </div>
                <!--End Gallery Pic-->
            </div>
        </div>
        <div class="col-md-8 col-xs-12 single-main-content">
            <!--Product Title-->
            <h1 class="col-xs-12">
                کولر گازی جنرال موتور خیلی خیلی خفن
                کولر گازی جنرال موتور خیلی خیلی خفن
            </h1>
            <!--End Product Title-->
            <!--Product Detail-->
            <div class="col-md-6 col-sm-6 single-main-detail">
                <p class="product-rating">
                    امتیاز محصول:
                    <span>(25)</span>
                    4.5
                    <i class="fa fa-star"></i>
                    <i class="fa fa-circle"></i>
                    <span class="pr-comments">120 دیدگاه</span>
                    <i class="fa fa-circle"></i>
                    <span class="pr-question">6 پرسش و پاسخ</span>
                </p>
                <p>
                    <b>برند:</b>
                    جنرال موتور
                </p>
                <p>
                    <b>گارانتی:</b>
                    گارانتی گلدیران 3 ساله
                    <span class="guarantee-conditions">
                        شرایط گارانتی: کمپرسور و اینا گارانتی میشن اگه بچه خوبی باشی.
                    </span>
                </p>
                <p>
                    <b>خدمات پس از فروش:</b>
                    کم گوی و گزیده گوی چون در
                </p>
                <p class="product-desc">
                    <b>نکات تکمیلی:</b>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
                </p>
            </div>
            <!--End Product Detail-->
            <!--Product Company-->
            <div class="col-md-6 col-sm-6 company-detail">
                <div class="company-detail-div col-xs-12">
                    <div class="company-detail-div-inner col-xs-12">
                        <h1>
                            اطلاعات فروشنده
                        </h1>
                        <h5 class="company-detail-div-title">
                            شرکت دمنده
                            <span>
                                امتیاز فروشنده:
                                <span>(25)</span>
                                4.5
                                <i class="fa fa-star"></i>
                            </span>
                        </h5>
                        <p>
                            <img src="~/Customer/assets/images/testlogo.png" alt="">
                        </p>
                        <p class="company-desc">
                            <b>درباره فروشنده:</b>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می اوان
                        </p>
                    </div>
                    <a href="">
                        <button class="btn custom-btn-danger btn-company">صفحه فروشنده</button>
                    </a>
                </div>
            </div>
            <!--End Product Company-->
        </div>
    </section>
    <!--End Section-->
    <!--Section-->
    <section class="container section-shadow section-white section-border section-padding-bottom section-margin-bottom">
        <div class="col-xs-12">
            <!-- Title -->
            <div class="section-title">
                <h1>
                    محصولات پر بازدید
                </h1>
            </div>
            <!-- End Title -->
            <div class="section-content">
                <div class="col-xs-12">
                    <div class="col-xs-12 products-carousel customized-carousel">
                        <!-- Product -->
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <a href="">
                                <div class="mainpage-carousel-inner">
                                    <div class="mainpage-carousel-image">
                                        <img src="~/Customer/assets/images/product%20pic.jpg" alt="">
                                    </div>
                                    <div class="mainpage-carousel-content">
                                        <div class="mainpage-carousel-title">
                                            <h5>
                                                کولر گازی جنرال موتور خیلی خیلی خفن
                                            </h5>
                                        </div>
                                        <div class="mainpage-carousel-rating">
                                            <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                        </div>
                                        <div class="mainpage-carousel-company">
                                            <img src="~/Customer/assets/images/store.png" alt="">
                                            <span class="mainpage-carousel-company-name">
                                                دما تجهیز
                                            </span>
                                            <div class="mainpage-carousel-company-rating">
                                                <i class="fa fa-star"></i> 4.5 <span>(25)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Product -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Section-->
    <!--Product Bottom Menu-->
    <div class="container product-bottom-menu">
        <ul>
            <li class="product-bottom-menu-active">راهنمای خرید محصول</li>
            <li>مشخصات محصول</li>
            <li>نظرات کاربران</li>
            <li>پرسش و پاسخ</li>
        </ul>
    </div>
    <!--End Product Bottom Menu-->
    <!--Section-->
    <section class="container section-white section-padding-bottom section-margin-bottom product-bottom-section">
        <!--Product Bottom Section-->
        <div class="col-xs-12 product-bottom-section-inner product-bottom-section-inner-active">
            <p>
                <b>نام محصول:</b>
                کولر گازی جنرال موتور خیلی خیلی خفن
            </p>
            <p>
                <b>ویژگی های محصول:</b>
            </p>
            <ul class="custom-ul-style ul-margin-right">
                <li>خوب</li>
                <li>عالی</li>
                <li>بهترین</li>
                <li>ریاضیات تحلیلی</li>
                <li>نمیدونم</li>
            </ul>
            <p class="no-margin">
                <b>توضیحات تکمیلی:</b>
            </p>
            <p class="product-desc-bottom no-margin">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
        </div>
        <!--End Product Bottom Section-->
        <!--Product Bottom Section-->
        <div class="col-xs-12 product-bottom-section-inner">
            <p>
                <b>مشخصات فنی</b>
                <span class="display-block">
                    کولر گازی جنرال موتور خیلی خیلی خفن
                </span>
            </p>
            <!--Product Specifications-->
            <div class="product-spec col-xs-12">
                <span>
                    مشخصات فیزیکی
                </span>
                <div>
                    <div class="col-sm-2 col-xs-12 spec-title">
                        <div>
                            ابعاد
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-12">
                        <div>
                            18*33
                            18*33
                            18*33
                            18*33
                            18*33
                            18*33
                            18*33
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-2 col-xs-12 spec-title">
                        <div>
                            ابعاد
                        </div>
                    </div>
                    <div class="col-sm-10 col-xs-12">
                        <div>
                            18*33
                            18*33
                            18*33
                            18*33
                            18*33
                            18*33
                            18*33
                        </div>
                    </div>
                </div>
            </div>
            <!--End Product Specifications-->
        </div>
        <!--End Product Bottom Section-->
        <!--Product Bottom Section-->
        <div class="col-xs-12 product-bottom-section-inner">
            <div class="col-xs-12 no-padding">
                <button class="btn custom-btn-primary col-md-3 col-xs-6" data-toggle="modal" data-target="#comments-modal">ارسال نظر</button>
            </div>
            <!--Comment-->
            <div class="col-xs-12 comment-div">
                <div class="col-sm-2 col-xs-12">
                    <div class="comment-user">
                        امیرحسین عرب
                        <span>1399/9/9</span>
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    </p>
                    <div class="comment-rating comment-rated display-block">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <!--End Comment-->
        </div>
        <!--End Product Bottom Section-->
        <!--Product Bottom Section-->
        <div class="col-xs-12 product-bottom-section-inner">
            <div class="col-xs-12 no-padding">
                <button class="btn custom-btn-primary col-md-3 col-xs-6" data-toggle="modal" data-target="#question-modal">افزودن پرسش</button>
            </div>
            <!--Question-->
            <div class="col-xs-12 question-div has-reply">
                <div class="col-sm-2 col-xs-12">
                    <div class="question-user">
                        امیرحسین عرب
                        <span>1399/9/9</span>
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <h4>
                        چگونه یک کولر گازی را در حلق محمدرضا موسوی نیا جا بدهیم
                    </h4>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    </p>
                </div>
            </div>
            <div class="col-xs-12 question-div company-reply">
                <div class="col-sm-2 col-xs-12">
                    <div class="question-user">
                        <img src="~/Customer/assets/images/damande.png" alt="">
                        شرکت دمنده
                        <span>1399/9/9</span>
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    </p>
                </div>
            </div>
            <!--End Question-->
            <!--Question-->
            <div class="col-xs-12 question-div">
                <div class="col-sm-2 col-xs-12">
                    <div class="question-user">
                        امیرحسین عرب
                        <span>1399/9/9</span>
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <h4>
                        چگونه یک کولر گازی را در حلق محمدرضا موسوی نیا جا بدهیم
                    </h4>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    </p>
                </div>
            </div>
            <!--End Question-->
        </div>
        <!--End Product Bottom Section-->
    </section>
    <!--End Section-->
</main>



<!--Question Modal-->
<div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">افزودن پرسش</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-xs-12">
                <form action="" method="post" autocomplete="off">
                    <div class="input-group col-sm-4 col-xs-12">
                        <input type="text" class="form-control" placeholder="نام و نام خانوادگی">
                    </div>
                    <div class="input-group col-sm-5 col-xs-12">
                        <span class="input-group-addon custom-btn-danger res-transform-send-code">ارسال کد تایید</span>
                        <input type="text" class="form-control" placeholder="شماره تماس">
                    </div>
                    <div class="input-group col-sm-3 col-xs-12" style="margin-top: 0!important;margin-bottom: 0!important;">
                        <input type="text" class="form-control question-code" placeholder="کد تایید" style="display: none">
                    </div>
                    <div class="input-group col-xs-12 question-subject">
                        <input type="text" class="form-control" placeholder="موضوع">
                    </div>
                    <div class="col-xs-12">
                        <textarea class="form-control custom-textarea question-textarea" placeholder="توضیحات"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn-secondary" data-dismiss="modal">بستن</button>
                <button type="button" class="btn custom-btn-primary">افزودن</button>
            </div>
        </div>
    </div>
</div>
<!--End Question Modal-->
<!--Comments Modal-->
<div id="comment_show">



</div>
<!--End Comments Modal-->

@section Scripts{


    <script>

        $(document).ready(function () {


            $("#comment_show").load('/module/Comment?HasProduct=1&UserType=2&UserID=0&CommentTypeID=4&ConnectTo=5');

        });

    </script>


}