@{
    ViewData["Title"] = "terms";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<main class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--Section-->
    <section class="container section-shadow section-white section-border section-padding-bottom section-margin-bottom section-margin-top">
        <div class="col-xs-12">
            <!-- Title -->
            <div class="section-title">
                <h1>
                    شرایط و قوانین استفاده از سرویس‌ها و خدمات اسم سایت
                </h1>
            </div>
            <!-- End Title -->
            <div class="section-content">
                <div class="term-pag col-xs-12">
                    <div>
                        <a href="javascript:void(0);" id="term-1">تایتل اول</a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" id="term-2">تایتل دوم</a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" id="term-3">تایتل سوم</a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" id="term-4">تایتل چهارم</a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" id="term-5">تایتل پنجم</a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" id="term-6">تایتل ششم</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
                <h4 class="term-content-h" id="title-term-1">
                    تایتل اول
                </h4>
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
                <h4 class="term-content-h" id="title-term-2">
                    تایتل دوم
                </h4>
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
                <h4 class="term-content-h" id="title-term-3">
                    تایتل سوم
                </h4>
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
                <h4 class="term-content-h" id="title-term-4">
                    تایتل چهارم
                </h4>
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
                <h4 class="term-content-h" id="title-term-5">
                    تایتل پنجم
                </h4>
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
                <h4 class="term-content-h" id="title-term-6">
                    تایتل ششم
                </h4>
                <p class="term-content-p">
                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی دیجی‌کالا به دقت ملاحظه فرمایید.
                    ورود کاربران به وب‏‌سایت دیجی‌کالا هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری دیجی‌کالا و سایر خدمات ارائه شده توسط دیجی‌کالا به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات دیجی‌کالا است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین دیجی‌کالا از سوی کاربر است.
                    لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                </p>
            </div>
        </div>
    </section>
    <!--End Section-->
</main>