@{
    ViewData["Title"] = "profile";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title display-inline-block ml-0 pl-0">داشبورد</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline display-inline-block">
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link">
                            <span class="m-nav__link-text">
                                درخواست ها
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                لیست درخواست ها
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="m-subheader__daterange">
                    &nbsp;
                    17 آذر
                    &nbsp;<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                        <i class="la la-calendar"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                        <i class="flaticon-share m--hide"></i>
                                        پروفایل
                                    </a>
                                </li>
                                <!--<li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                        پیام ها
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                        تنظیمات
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_user_profile_tab_1">
                            <form class="m-form m-form--fit m-form--label-align-right" id="profile-form">
                                <div class="m-portlet__body">
                                    <div class="m-card-profile">
                                        <div class="m-card-profile__pic">
                                            <div class="m-card-profile__pic-wrapper">
                                                <img src="~/Company/assets/app/media/img/users/user4.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="m-section__content container-fluid text-center mb-3">
                                            <button class="btn btn-brand btn-sm" type="button" data-target="#uploader" data-toggle="modal">انتخاب عکس</button>
                                        </div>
                                        <div class="m-card-profile__details">
                                            <span class="m-card-profile__name">
                                                امیرحسین عرب
                                            </span>
                                            <a class="m-card-profile__email m-link tshcurpoi">شماره کاربری : 97776543</a>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-10 ml-auto">
                                            <h3 class="m-form__section">1. اطلاعات شخصی</h3>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="firstname" class="col-lg-4 col-xs-12 col-form-label">نام</label>
                                        <div class="col-lg-5 col-xs-12">
                                            <input class="form-control m-input" id="firstname" name="firstname" type="text" value="امیرحسین">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="lastname" class="col-lg-4 col-xs-12 col-form-label">نام خانوادگی</label>
                                        <div class="col-lg-5 col-xs-12">
                                            <input class="form-control m-input" id="lastname" name="lastname" type="text" value="عرب">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="email" class="col-lg-4 col-xs-12 col-form-label">ایمیل</label>
                                        <div class="col-lg-5 col-xs-12">
                                            <input class="form-control m-input" id="email" name="email" type="text" value="test@test.com">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="phone" class="col-lg-4 col-xs-12 col-form-label">شماره تلفن</label>
                                        <div class="col-lg-5 col-xs-12">
                                            <input class="form-control m-input" id="phone" name="phone" type="text" value="09197386684">
                                        </div>
                                    </div>

                                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                                    <div class="form-group m-form__group row">
                                        <div class="col-10 ml-auto">
                                            <h3 class="m-form__section">
                                                2. رمز عبور
                                                <small style="display:block;font-size: 14px;margin-top: 10px;">برای تغییر رمز عبور فرم زیر را پر کنید.</small>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="form-group m-form__group row">
                                        <label for="password" class="col-lg-4 col-xs-12 col-form-label">رمز عبور</label>
                                        <div class="col-lg-5 col-xs-12">
                                            <input class="form-control m-input" id="password" name="password" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="repassword" class="col-lg-4 col-xs-12 col-form-label">تکرار رمز عبور</label>
                                        <div class="col-lg-5 col-xs-12">
                                            <input class="form-control m-input" id="repassword" name="repassword" type="password" value="">
                                        </div>
                                    </div>

                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <div class="row">
                                            <div class="col-2">
                                            </div>
                                            <div class="col-7 text-left">
                                                <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">ذخیره</button>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane " id="m_user_profile_tab_2">

                        </div>
                        <div class="tab-pane " id="m_user_profile_tab_3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>