@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-left col-md-4 col-sm-12 col-xs-12">
    <div class="inner-login-left col-xs-12 no-padding section-shadow section-white section-border">
        <div class="col-xs-12">
            <!-- Title -->
            <div class="section-title">
                <h1>
                    ثبت نام
                </h1>
            </div>
            <!-- End Title -->
            <div class="col-xs-12 no-padding">
                <form action="" method="post" autocomplete="off" novalidate>
                    <div class="register-form1">
                        <div>
                            <input type="text" class="hs-input" placeholder="نام شرکت">
                        </div>
                        <div>
                            <input type="text" class="hs-input" placeholder="شماره تلفن شرکت">
                        </div>
                        <div>
                            <input type="text" class="hs-input" placeholder="شماره موبایل">
                        </div>
                        <div>
                            <input type="text" class="hs-input" placeholder="شماره ثبت یا شماره پروانه کسب و کار">
                        </div>
                        <div class="text-left">
                            <button type="button" class="btn custom-btn-danger next-btn display-inline-block" style="width: auto;margin-top: 0;">
                                بعد
                            </button>
                        </div>
                    </div>
                    <div class="register-form2">
                        <span class="back-register">
                            بازگشت
                        </span>
                        <div>
                            <input type="number" class="hs-input" placeholder="کد ارسالی">
                        </div>
                        <div>
                            <input type="password" class="hs-input" placeholder="رمز عبور">
                        </div>
                        <div>
                            <input type="password" class="hs-input" placeholder="تایید رمز عبور">
                        </div>
                        <div>
                            <button class="btn custom-btn-danger">
                                ثبت نام
                            </button>
                        </div>
                    </div>
                </form>
                <span class="ha-register">
                    حساب کاربری دارید؟
                    <a href="login.html">
                        ورود
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>